p {
  color: darkSlateGrey;
  text-align:left;
  font-family:Optima, sans-serif;
  font-size: 20px;
}
#test-id-1 {
  color:RosyBrown;
}
.test-class{
  color: darkSlateGrey;
}
a {
  color:DarkOliveGreen
}
a:hover {
  font-weight:bold;
}
h1{
  text-align:center;
  font:300% Sans-serif;
}
.contactimg {
  width: 30%;
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.art {
  width: 40%;
  text-align:center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.propic {
  width:40%;
  padding: 5px;
  display: inline;
  float:right;
}
hr {
  margin-top: auto;
  border-style: solid;
  color: RosyBrown;
}

@media screen and (min-width: 400px) {
    body {
      margin: 0;
      padding: 0;
      background-color: RosyBrown;
    }
    .box {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      background-color: RosyBrown;
      padding: 20px;
      gap: 20px;
    }
    .title {
      background-color: Linen;
      text-align: center;
      padding: 5px;
      grid-column:span 4;
      grid-row:span 4;
    }
    .nav li{
      text-align:left;
      padding: 0px 20px;
      border-bottom: none;
      height: 50px;
      line-height: 50px;
      display: inline-block;
    }
    .content{
      background-color: Linen;
      padding: 8px;
      grid-column:span 4;
      grid-row:span 4;
    }

@media screen and (max-width: 399px) {
    body {
      background-color: RosyBrown;
    }
    .box {
      display: grid;
      grid-template-columns: 2fr;
      grid-template-rows: 1fr 1fr;
      background-color: RosyBrown;
      padding: 20px;
      gap: 10px;
    }
    .title {
      background-color: Linen;
      text-align: center;
      padding: 2px;
      grid-column:1;
      grid-row:1;
    }
    .content {
      background-color: Linen;
      padding: 20px;
      grid-column: 1;
      grid-row: 2;
    }
  }
}
