p {
  color: black;
  text-align:left;
  font-family:"Montserrat",sans-serif;
  font-weight: lighter;
  font-size: 25px;
}

/*.name {
  text-align: left;
  font-size: 70px;
  font-weight:lighter;
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
  color:black;
  padding: 0px 10px 5px 10px;
}*/

a {
  color:black;
  display:inline;
  float: right;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Montserrat",sans-serif;
  padding: 0px 10px 0px 10px;
}

a:hover {
  font-weight:bold;
}

.art1 {
  width:30%;
  float:left;
  padding: 2px;
}

.art2 {
  width: 600%;
  text-align:center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 1px;
  transition: 1s ease;
}

.art3 {
  width:40%;
  padding: 2px;
  display: block;
}

.art4 {
  width: 50%;
  float: left;
  padding: 2px;
}

.art5{
  width: 90%;
  height:auto;
  float: left;
  padding: 2px;
  display: block;
}

.propic {
  width: 40%;
  float: left;
}

.content {
  display:inline-block;
  float:right;
  vertical-align:top;
  width: 600px;
  padding: 0;
  grid-column: 2;
  grid-row: 2;
  margin:10px
}

.content2 {
  display: table-cell;
  align-items: left;
  width:650px;
  height:600px;
  vertical-align: top;
}

span{
  padding:10px;
}

.nav {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: right;
}

.row{
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}
.column{
  display: grid;
  grid-template-columns:1fr 1fr;
  flex: 50%;
  padding: 2px;
}
.column img{
  vertical-align: middle;
  width: 600px;
  height:600px;
  object-fit: contain;
}

.art2:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 1s ease;
}

.header img {
  float: center;
  padding-bottom:10px
  width: 115px;
  height: 115px;
  background: #555;
}
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}

@media screen and (min-width: 400px) {
    body {
      margin: 10px;
      padding: 0;
      background-color: white;
    }

.nav li{
      border-bottom: none;
      height: 60px;
      line-height: 40px;
      display: inline;
    }


@media screen and (max-width: 399px) {
  body{
    margin: 10px;
    padding: 0;
    background-color: white;
  }

  a{
    float:right;
  }

  .nav li{
    float:right;
    border-bottom: none;
    height: 60px;
    line-height: 40px;
    display: inline;
      }
  }
}
