RewriteEngine On
RewriteCond % {REQUEST_About} !-f
RewriteCond % {REQUEST_About} !-f
RewriteCond % {REQUEST_Dress} !-f
RewriteCond % {REQUEST_PersonalPackage} !-f
RewriteCond % {REQUEST_CounterfeitDesign} !-f
RewriteCond % {REQUEST_SeeSeeGlasses} !-f
RewriteCond % {REQUEST_Drawings} !-f
RewriteCond % {REQUEST_ExpressiveBooklet} !-f
RewriteCond % {REQUEST_Perk} !-f
RewriteCond % {REQUEST_PosterMailer} !-f
RewriteCond % {REQUEST_Ritual} !-f
RewriteCond % {REQUEST_Townhall} !-f
RewriteCond % {REQUEST_Twitter} !-f
RewriteCond % {REQUEST_Hypatia} !-f
RewriteCond % {REQUEST_Underdog} !-f
RewriteCond % {REQUEST_Boostbar} !-f
RewriteCond % {REQUEST_BangBeauty} !-f
RewriteRule ^ ([^\.]+) $ $1.html [NC,L]
